.background_home{
    width: auto;
    height: auto;
    background-image: linear-gradient(125deg,#1e91be,#8810d8, #14b982);
}
.background_education{
 width: auto;
 height: auto;
 background-image: linear-gradient(125deg, #1e91be, #14b982);
}