.background_auth{
    width: auto;
    height: auto;
    color: #ffffff;
    background-image: linear-gradient(125deg,#156fb9,#910beb, #27e099);
}
.background_education{
 width: auto;
 height: auto;
 background-image: linear-gradient(125deg, #1e91be, #14b982);
}

.Education{
border: 2px solid #ffffff;
border-radius: 10px;
}
